<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
     <!-- Compiled and minified CSS -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Upload d'images</title>
</head>
<body>
    
    	<div><a href="users/login"><button class="btn">Connexion</button></a> <a href="users/register"><button class="btn">Inscription</button></a></div>
        <div class="container" >                       
        </div> 
         
    
        <div class="main">
        <h1>File upload</h1>
</body>
